body {
    background: #f1f6fA;
}

@font-face {
    font-family: Casual Contact;
    src: url('../fonts/Casual Contact.ttf');
}
h1, h2, h3, h4, h5, h6 {
    font-family: Casual Contact, 'sans-serif';
    color: #233C57;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    color: #FFAD21;
}

.catalog-menu {
    z-index: 999;
    width: 100%;
    position: absolute;
    background: #fff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 10%), 0 2px 15px rgb(0 0 0 / 15%);
}
.catalog-menu a {
    color: #233C57;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
}
.catalog-menu img {
    width: 100%;
    object-fit: cover;
}
.catalog-menu a:hover {
    font-weight: bold;
    border: 1px solid #cfdee6;
}

.navbar-nav {
    color: #233C57;
    font-size:17px;
    text-decoration:none;

    padding: 0 12px;
    width: auto;
    height: 54px;
    align-items: center;
}
.navbar-nav:hover {
    background-color: rgba(0, 0, 0, .04);
}

header nav {
    background: #f1f6fA;
    border-bottom: 1px solid #cfdee6;
}

.catalog-btn {
    background: #ffbb86;
    border: none;
    border-radius: 8px;
    height: 40px;
    padding: 0 10px;
    color: #5c4028;
}
.catalog-btn i {
    color: #5c4028;
}
.catalog-btn:hover {
    border: 2px solid sandybrown;
    border-radius: 8px;
    height: 40px;
}

.product_card {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
}
.product_card:hover {
    z-index: 10;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%), 0 2px 4px #cfdee5;
}
.product_card_img {
    width: 100%;
    object-fit: cover;
}
.product_card_title {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #3a3a3a;
    line-height: 16px;
}
.product_card_category {
    font-size: 12px;
    color: #b2b2b2;
    text-decoration: none;
}
.product_card_category:hover, .product_card_title:hover {
    color: #f28955;
}

.product_main {
    background: white;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 2%), 0 1px 4px #cfdee5;
}
.product_main_photo {
    width: 100%;
    object-fit: cover;
}
.product_main_title, .product_main_price {
    font-size: 28px;
}
.product_main_description {
    font-size: 16px;
}
